*{
    box-sizing: border-box;
    transition-duration: 200ms;
    background-color: #ffffff;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    height:50px;
    width:50px;
    display:inline-block;
    position:relative;
}

.common{
    height:20px;
    width:20px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid whitesmoke;
}

.one{
    left: 15px;
    top: 15px;
}

.two{
    left: 8px;
    top: 15px;
}

.two::before{
    content: '';
    position: absolute;
    height:inherit;
    width:inherit;
    background-color:inherit;
    border-radius: inherit;
    left: 11px;
    top: -1px;
    box-sizing: inherit;
    border: inherit;
}

.three{
    left: 9px;
    top: 10px;
}

.three::after{
    content: '';
    position: absolute;
    height:inherit;
    width:inherit;
    background-color:inherit;
    border-radius: inherit;
    left: 12px;
    top: -1px;
    box-sizing: inherit;
    border: inherit;
}

.three::before{
    content: '';
    position: absolute;
    height:inherit;
    width:inherit;
    background-color:inherit;
    border-radius: inherit;
    left: 5px;
    top: 8px;
    box-sizing: inherit;
    border: inherit;
}

.winBoard {
    position: fixed;
    display: none;
    box-shadow: 0px 0px 100px 100px rgb(255, 255, 255);
    color: #262626;
    font-weight: bolder;
    font-size: 120%;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.settings {
    position: fixed;
    display: none;
    box-shadow: 0px 0px 100px 100px rgb(255, 255, 255);
    color: #262626;
    font-weight: bolder;
    font-size: 120%;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #262626;
}

.replay{
    position: relative;
    border: 2px solid #262626;
    border-radius: 50px;
    padding: 7px;
    margin: 30px;
}

.replay:hover{
    background-color: steelblue;
}

.restart{
    font-size: 15px;
    position: relative;
    border: 2px solid #262626;
    padding: 5px;
    margin: 10px;
    box-shadow: 1px 1px 0px rgba(38, 38, 38, 0.8), 2px 2px 0px rgba(38, 38, 38, 0.6), 3px 3px 0px rgba(38, 38, 38, 0.4), 4px 4px 0px rgba(38, 38, 38, 0.3), 5px 5px 0px rgba(38, 38, 38, 0.2);
}

.restart:hover{
    background-color: steelblue;
}

.share{
    font-size: 12px;
    position: relative;
    border: 1px solid #262626;
    padding: 1px;
    margin: 5px;
    background-color: #262626;
    color: white;
}

#settingsIcon{
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    animation: rotate 30s linear infinite;
    -webkit-tap-highlight-color: transparent;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
        transform-origin: center;
    }
    to{
        transform: rotate(360deg);
        transform-origin: center;
    }
}

#devLine{
    opacity: 0.4;
    font-size: 10px;
    text-transform: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dot{
    font-size: 15px;
    display: inline-block;
    line-height: 10px;
    animation: blink 200ms linear 800ms infinite;
}

#booyah{
    animation: blink 200ms linear 800ms infinite;
}

@keyframes blink {
    0%, 49% {
        color: red;
      }

      50%, 100% {
        color:green;
      }
  } 

#face{
    display: inline-block;
    position: relative;
    bottom: -4px;
    height: 20px;
    width: 20px;
    border: 1.5px solid black;
    border-radius: 50%;
}

#one , #two{
    position: absolute;
    height:4px;
    width: 4px;
    border-radius: 50%;
    top: 3.5px;
    background-color: red;
    line-height: unset;
}

#one{
    right: 2px;
    animation: blinkEyes 1s linear infinite;
}

#two{
    left: 3px;
    animation: blinkEyes 1s linear infinite;
}

@keyframes blinkEyes {
    0%, 25% {
        background-color: red;
      }

      26%, 49% {
        background-color: red;
      }

      50%, 75% {
        background-color: green;
      }

      75%, 100% {
        background-color:green;
      }
  } 


#three{
    position: absolute;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    /* border: 1px solid #262622; */
    background-color: rgba(158, 158, 158, 0.7);
    top: 9px;
    left: 4.9px;
    animation: bounce 1s ease infinite;
}

@keyframes bounce {
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(0.5);
    }
}

#tutorial{
    display: none;
    position: fixed;
    height: 90%;
    width: 90%;
    border-radius: 20px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px #262626;
    text-transform: uppercase;
    color:  royalblue;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tutImage{
    object-fit: cover;
    box-shadow: 0px 0px 5px grey;
    width: 150px;
    height: 150px;
    margin: 5px;
}

ul{
    padding-left: 30px !important;
}

#tutButtons{
    border: none;
    color: white;
    background-color: #262626;
    padding: 2px;
    margin: 2px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

#divButtons{
    position: sticky;
    bottom: -2px;
    padding: 5px 0px;
    background-color: skyblue;
}

#tuturialHeader{
    color: black;
    background-color: skyblue;
    border-bottom: 2px dotted #262626;
    font-size: 20px;
    padding: 5px;
    position: sticky;
    top: -2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}